html {background-color: whitesmoke}

.card-container {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem
}

.link-color {
    color: #1976d2;
}

.button-as-h3{
    font-size: 3.75rem !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    text-transform: none !important;
    vertical-align: baseline !important;
}

.flex{
    display: flex;
    gap: 1rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

.flex-grow1{
    flex-grow: 1;
    flex-basis: 1px;
}

.flex-grow2{
    flex-grow: 2;
    flex-basis: 1px;
}

.flex-grow3{
    flex-grow: 3;
    flex-basis: 1px;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.height-100vh {
    height: 100vh;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.game-height {
    height: calc(100vh - 200px);
}

.m-16 {
    margin: 16px;
}

.mt-16 {
    margin-top: 16px;
}

.height-100-minus-32px {
    height: calc(100% - 32px);
}

.margin-top-auto {
    margin-top: auto;
}

