html {background-color: whitesmoke}

.card-container {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem
}

.link-color {
    color: #1976d2;
}

.button-as-h3{
    font-size: 3.75rem !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    text-transform: none !important;
    vertical-align: baseline !important;
}